[Unit]
Description=FastAPI RAG Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/fastapi-llm-chatbot/rag
ExecStart=/usr/bin/python3 -m uvicorn main:app --host 0.0.0.0 --port 8100
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
